body{
    padding: 0px;
    margin: 0px;
}
nav
{
    padding: 0px;
    margin: 0px;
    height: 50px;
    background-color: black;
}
nav .navwrapper
{
   /* max-width: 1000px;*/
    width: 80%;
    margin: auto;
    background-color: black;
}
nav .navwrapper ul 
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 17px;
    display: inline-block;
}
nav .navwrapper ul li
{
    display: inline;
    margin: 20px;
}
nav .navwrapper ul li a
{
    color:white; 
    text-decoration: none;
 /*   height: 50px;*/
}
#download
{
    display: inline-block;
    background-color: aquamarine;
    float: right;
    height: 50px;
    border: none;
 
}
#download:hover
{
    background-color:orange;  
}
/*nav .navwrapper button:hover
{
    background-color:orange; 
}*/
.main
{
    width: 80%;
    margin: auto;
}
.dt
{
    
    /*width: 30%;*/
    /*padding-left:10%; */
    display: inline-block;
    text-shadow: 5px 5px 0 aquamarine ;

}
.dt:hover
{

    text-shadow: -5px -5px 0 brown ;
    transition : text-shadow .1s ease-in-out;
    cursor : pointer;
}
.dt_h
{
    font-size:70px;
    margin-bottom: 0px;
   /* padding-left: 10px;*/
    font-family: Lato, 'Open Sans', Helvetica, Arial;
    
}
.dt_h1
{
    font-size:70px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*padding-left: 10px;*/
    font-family: Lato, 'Open Sans', Helvetica, Arial;
}
.dt_h2
{
    margin-top: 0px;
    /*padding-left: 10px;*/
    font-size:30px;
    font-family: monospace;
    text-shadow: none;
}
.dt_hr
{
    height: 15px;
    background-color: black;
    /*margin-left: 12px;*/
}
.dt_lside
{
    float: right;
    padding-top: 20%;
}
.dt_lside_r
{
    text-align:right;
}
.common_left
{
    padding-top: 0px;
    width:30%;
    float:left;
}
.common_right
{
    font-size: 20px;
    width:70%;
    float:right;
}
.setting
{
    margin-top: 0px;
    font-size: 35px;
}
.btm
{

    width: 80%;
    margin: auto;
    background-color: white;
}
.btm_nav
{
    background-color: white;
}
.footer_left
{
    float:left;
}
.btm_ul
{
    list-style: none;
    display: inline-block;
}
.btm_li_l
{
    display:inline;
}
.btm_li_r
{
    display:inline-block;
    float:right;
}
.la
{
    float:right;
    padding-top:10px;

}
.remove
{
    text-decoration: none;
}

@media only screen and(max-width:600px)
{
    nav
    {
        height: 100px;
        
    }
   
}



